my-env.sh
junit.xml
.coverage
coverage.xml
html.cov
*.pyc
.nvtest_cache
.nvtest_cache/*
.nvtest_cache*
Results*
TestResults*
TestPartitions*
TestBatches*
_test-cache
__pycache__
.nvtest
.mypy_cache
partition.p.*
nvtest.cfg
scripts/sbatch
docs/source/commands.rst

src/*.egg-info/
src/_nvtest/_version.py

docs/build
build

.pre-commit.log
.DS_Store

mock-tests

*.orig

examples/ctest/ctest-command.txt
examples/ctest/Testing/
