*.pyc
.nvtest_cache
.nvtest_cache/*
.nvtest_cache*
Results*
TestResults*
TestPartitions*
TestBatches*
_test-cache
__pycache__
.nvtest
.mypy_cache
vvt
partition.p.*
nvtest.cfg
scripts/sbatch
docs/source/commands.rst

src/*.egg-info/
src/_nvtest/_version.py

docs/build
build

.pre-commit.log
.DS_Store

mock-tests

tests/examples/ExecuteAndAnalyze/
tests/examples/TestMarkdownResults/
tests/examples/basic/TestHTMLResults/
tests/examples/basic/TestMarkdownResults/
tests/examples/Batched
