name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  unit-tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Pytest
        run: |
          pip install .[dev]
          pytest tests
      - name: Coverage
        run: |
          coverage run
          coverage report
          coverage xml
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml
          retention_days: 30

  slurm:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v4
     - name: Build the Slurm Docker image
       run: |
         BRANCH_NAME=${GITHUB_REF#refs/heads/}
         echo "Building for branch: $BRANCH_NAME"
         docker build --build-arg BRANCH_NAME=$BRANCH_NAME --file docker/slurm/Dockerfile --tag slurm-test ./docker/slurm
     - name: Run Slurm tests
       run: |
         docker run --rm slurm-test /bin/bash -c "./test.sh"

  flux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Pull the Flux Docker image
        run: |
          docker pull fluxrm/flux-sched:latest
      - name: Run Flux tests
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          echo "Building for branch: $BRANCH_NAME"
          docker run --rm --user root -v /home/runner/work/canary/canary/docker/flux/test.sh:/home/fluxuser/test.sh -e BRANCH_NAME=$BRANCH_NAME fluxrm/flux-sched:latest env flux start --test-size=3 "./test.sh $BRANCH_NAME"

